extends layout

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  nav
    img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png', style='visibility: hidden;')
    input#input_search_nav.input_search_nav(style='visibility: hidden;')
    a(href='personajes')
      #personajes_nav.personajes_nav PERSONAJES
    a(href='album')
      #album_nav.album_nav ALBUMS
    a(href='mi_album')
      #mi_album_nav.mi_album_nav MI ALBUM
    a(href='register')
      img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
  main
    img.logo_main(src='../images/home_page/logoMarvel.png')
    a(href='')
      img#flecha_izquierda_home_page.flecha_izquierda(src='../images/home_page/izquierda.png')
    a(href=`/personajes_descripcion/${personaje.id}`).main_cards.neon
      img#imagen_personaje_home_page.img_card(src=personaje.imagen)
      .contenido_card
        h2#titulo_personaje_home_page #{personaje.titulo}
        p#descripcion_personaje_home_page #{personaje.descripcion}
    a(href='')
      img#flecha_derecha_home_page.flecha_derecha(src='../images/home_page/derecha.png')




