extends layout

block content
    link(rel='stylesheet' href='/stylesheets/mi_album.css')
    nav
        img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png', style='visibility: hidden;')
        input#input_search_nav.input_search_nav(style='visibility: hidden;')
        a(href='personajes')
            #personajes_nav.personajes_nav PERSONAJES
        a(href='album')
            #album_nav.album_nav ALBUMS
        a(href='mi_album')
            #mi_album_nav.mi_album_nav MI ALBUM
        a(href='register')
            img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
    main
        a(href='/')
            img.logo_main(src='../images/home_page/logoMarvel.png')
        .centro
            .centrar_texto
                h2#nombre_usuario_mialbum.nombre_usuario_mialbum #{mi_album_page.usuario.nombre_usuario.nombreUsuario}
            .container.margen
                #columnas_personajes.row
                    each personaje,index in mi_album_page.personajes_usuario
                        .col-md-4
                            img.imagen_personajes.imagenp(src=personaje)
                        if index%3 === 2
                            .con-espacio-entre-filas



