extends layout

block content
    link(rel='stylesheet' href='/stylesheets/personaje_descripcion.css')
    nav
        img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png')
        input#input_search_nav.input_search_nav
        a(href='personajes.html')
            #personajes_nav.personajes_nav PERSONAJES
        a(href='album.html')
            #album_nav.album_nav ALBUMS
        a(href='mi_album.html')
            #mi_album_nav.mi_album_nav MI ALBUM
        a(href='cuenta.html')
            img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
    main
        .container
            .row
                .col-md-6
                    a(href='index.html')
                        img.logo_main(src='../images/home_page/logoMarvel.png')
                    img#imagen_personaje_descrip.imagen_personaje_descrip(src='../images/home_page/spiderMan.png')
                    .like-container
                        img#imagen_like_descrip.imagen_like_descrip(src='../images/personajes_descripcion/like.png')
                        h3#numero_likes_descrip.numero_likes_descrip 120
                .col-md-6
                    .card
                        .card-body
                            h5#titulo_descrip.card-title T&iacute;tulo del Personaje
                            p#descrip_descrip.card-text
                                | Descripci&oacute;n del personaje..Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. ..
                br
