extends layout

block content
    link(rel='stylesheet' href='/stylesheets/personajes.css')
    nav
        img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png', style='visibility: hidden;')
        input#input_search_nav.input_search_nav(style='visibility: hidden;')
        a(href='personajes')
            #personajes_nav.personajes_nav PERSONAJES
        a(href='album')
            #album_nav.album_nav ALBUMS
        a(href='mi_album')
            #mi_album_nav.mi_album_nav MI ALBUM
        a(href='register')
            img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
    main
        a(href='/')
            img.logo_main(src='../images/home_page/logoMarvel.png')
        .container.margen
            #columnas_personajes.row
                for personaje,index in personajes_page
                    .col-md-4
                        a(href=`/personajes_descripcion/${personaje.id}`)
                            img.imagen_personajes(src=personaje.image).w-75.h-100
                    if index%3 === 2
                        .con-espacio-entre-filas