extends layout

block content
  link(rel='stylesheet' href='/stylesheets/register.css')
  nav
    img#lupa_img_nav.lupa_nav(src='../images/home_page/lupa.png', style='visibility: hidden;')
    rsinput#input_search_nav.input_search_nav(style='visibility: hidden;')
    a(href='personajes')
      #personajes_nav.personajes_nav PERSONAJES
    a(href='album')
      #album_nav.album_nav ALBUMS
    a(href='mi_album')
      #mi_album_nav.mi_album_nav MI ALBUM
    a(href='register')
      img#cuenta_nav.cuenta_nav(src='../images/home_page/account.png')
  main
    a(href='/')
      img.logo_main(src='../images/home_page/logoMarvel.png')
    .container.margen
      #columnas_personajes.contenedorCard(style='display: flex; justify-content: center; ')
        .card.neon.rounded.cardPersonal.border.border-danger(style='width: 75%; height: 100%;')
          if errorContenido != null
            .alert.alert-danger(style='margin-top: 1em; margin-left: 1em; margin-right: 1em;')
              strong #{errorContenido}
          .card-body
            h2.card-subtitle.center(style='margin-top:0.5em; margin-bottom: 0.5em; font-size: 2em;  text-align: center;') REGISTRATE PARA ACCEDER A TODO EL CONTENIDO
            h4.card-subtitle.center
              | &iquest;Ya tienes cuenta?
              a.inicia_sesion(href='https://reactmarvel-cf28ffaf82d9.herokuapp.com')   Inicia sesi&oacute;n
            br
            form.custom-form.row(action='' method='post' role='form')
              .form-group.col-md-6
                label.card-subtitle(for='nombre') Nombre
                input#nombre.form-control(type='text' name='nombre' placeholder='Nombre')
              .form-group.col-md-6
                label.card-subtitle(for='apellidos') Apellidos
                input#apellidos.form-control(type='text' placeholder='Apellidos' name='apellidos')
              .espacio
              .form-group.col-md-6
                label.card-subtitle(for='username') Nombre de usuario
                input#username.form-control(type='text' placeholder='Nombre de usuario' name='username')
              .form-group.col-md-6
                label.card-subtitle(for='telefono') Telefono
                input#telefono.form-control(type='text' placeholder='Telefono' name='telefono')
              .espacio
              .form-group
                label.card-subtitle(for='email') Correo electr&oacute;nico
                input#email.form-control(type='text' placeholder='Correo electrónico' name='email')
              .espacio
              .form-group
                label.card-subtitle(for='password') Contrase&ntilde;a
                input#password.form-control(type='password' placeholder='Contraseña' name='password')
              .espacio
              .form-group.text-center
                button.btn.btn-outline-white.btn-danger(type='submit' style='width: 80%') Registrarse